<h1>Home</h1>

<h4>Filter by price</h4>

<%= form_tag('/search') do %>
	<%= label_tag 'Cost' %>
	<%= number_field_tag 'cost' %>
	<%= submit_tag 'Search' %>
<% end %>
<br>

<%= form_tag('concerts/popular') do %>
 	<b><%=label_tag 'Popular'%></b><br>
 	<%= submit_tag 'See Popular Concerts!' %>
<% end -%>

<h2>Happening Today:</h2>

<% count = 0 %>

<ul>
	<% @concerts.each do |concert| %>
		<% if concert.date.to_date == Date.today %>
			<li>
				<%= link_to concert.artist, "/concerts/#{concert.id}" %>
				<% if concert.description %>
					- 
				<% end %>
				<%= concert.description %>
				<%= concert.date %>
			</li>
			<% count = count + 1 %>
		<% end %>
	<% end %>
</ul>
<% if count == 0 %>
	No concerts registered for today :(
<% end %>

<h2>Happening Soon:</h2>

<%= render "shared/concerts" %>

<%= link_to "Create a new concert", new_concert_path %>